<div class="dashboard-table">
  <h1 class="dashboard-title">Dashboard</h1>
  <table class="table table-hover table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Product</th>
        <td><%= link_to @product_count, [:admin, :products], class: "link-secondary" %></td>
      </tr>
      <tr>
        <th scope="row">Category</th>
        <td><%= link_to @category_count, [:admin, :products], class: "link-secondary" %></td>
      </tr>
    </tbody>
  </table>
</div>
