<section class="about-index">
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <div class="about-content">
    <p>
      Jungle is an online botanical boutique specializing in interior design with a focus on high-quality plants and accessories to keep them happy and healthy. From evergreens to trees, we have a wide variety of beautiful plants and flowers available for purchase that could enlighten your home atomosphere.
    </p>
    <p>
      Jungle's brand encompasses both retail and original products, and we delight in hand selecting each product we carry to ensure every piece is unique, beautiful. We source our plants from reputable growers and nurseries, so you can be sure to get a healthy, beautiful plant. Our accessories are both curated as well as created by our own in-house production team and manufactured in small runs by artists internationally.
    </p>
    <p>
      If you have any questions or concerns, we're more than happy to hear from you and see how we can make your experience more delightful.
    </p>
  </div>
</section>
